#contacts{
    display:none;
    width: 100%;
    justify-content: center;
    font-family: 'Ysabeau', sans-serif;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    margin-top: 100px;
}
.help{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.help h1{
    font-size: 40px;
    font-weight: 700;
}
.help input{
    width: 600px;
    padding: 7px 19px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 7px;
    border: 2px solid #6bd6d6;
    height: 50px;
}
#contacts .faq{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 800px;
}
.faq h1{
    font-size: 30px;
    align-self: center;
}
.faq li{
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    gap: 10px;
}
.accord_control{
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    justify-content: space-between;
    padding: 10px 20px 0 20px;
}
.accord_panel{
    /* padding:0 20px 10px 20px; */
    height: 0px;
    overflow: hidden;
    transition: 0.2s ease-in-out;
}
.open .accord_panel{
    height: max-content;
    padding:0 20px 10px 20px;
}